[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
Before=nomad.service
After=network-online.target nftables.service containerd.service vault-agent.service
Wants=network-online.target
Requires=docker.socket containerd.service
BindsTo=nftables.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=notify
ConditionPathExists=/etc/docker/daemon.json
ConditionPathExists=/root/OinkServer/env/docker.conf
ConditionPathExists=/root/OinkServer/runtime/docker-auth.json
ExecStart=/usr/bin/dockerd --config-file /etc/docker/daemon.json
ExecReload=/usr/bin/echo "Cannot restart Docker without reboot (firewall)"
TimeoutSec=0
RestartSec=2
Restart=always
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
Delegate=yes
KillMode=process
OOMScoreAdjust=-500
EnvironmentFile=/root/OinkServer/env/docker.conf
StandardOutput=file:/var/log/oinkserver/docker.stdout.log
StandardError=file:/var/log/oinkserver/docker.stderr.log

[Install]
WantedBy=multi-user.target
