[Unit]
Description=Live Syncing Daemon
Documentation=https://axkibe.github.io/lsyncd/

[Service]
Type=forking
ConditionPathExists=/etc/lsyncd.conf
ExecStart=/usr/bin/lsyncd /etc/lsyncd.conf

[Install]
WantedBy=multi-user.target
